.header {
  background: #5429cc; /* Roxo profissional */
  padding: 2rem 1rem 12rem;
}

.content {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
}

.button {
  font-size: 1rem;
  color: #fff;
  background: #6933ff;
  border: 0;
  padding: 0 2rem;
  border-radius: 0.25rem;
  height: 3rem;
  cursor: pointer;
  transition: filter 0.2s;
}

.button:hover {
  filter: brightness(0.9);
}