/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f2f5;
  color: #363f5f;
  font-family: 'Poppins', sans-serif, system-ui;
  -webkit-font-smoothing: antialiased;
}

/* Estilos para o Modal */

.react-modal-overlay {
  background: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.react-modal-content {
  width: 100%;
  max-width: 576px;
  background: #f0f2f5;
  padding: 3rem;
  position: relative;
  border-radius: 0.25rem;
}

/* Botão "X" de fechar */
.react-modal-close {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  border: 0;
  background: transparent;
  cursor: pointer;
  transition: filter 0.2s;
  font-weight: bold;
  color: #969cb3;
}

.react-modal-close:hover {
  filter: brightness(0.8);
}

/* Estilos do Formulário */
.modal-form h2 {
  color: #363f5f;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.modal-form input {
  width: 100%;
  padding: 0 1.5rem;
  height: 4rem;
  border-radius: 0.25rem;
  border: 1px solid #d7d7d7;
  background: #e7e9ee;
  font-weight: 400;
  font-size: 1rem;
}

.modal-form input::placeholder {
  color: #969cb3;
}

.modal-form input + input {
  margin-top: 1rem;
}

/* Container dos botões de Entrada/Saída */
.transaction-type-container {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.transaction-type-container button {
  height: 4rem;
  border: 1px solid #d7d7d7;
  border-radius: 0.25rem;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.2s;
  cursor: pointer;
}

.transaction-type-container button:hover {
  border-color: #aaa;
}

/* Botão de Submissão */
.modal-form button[type="submit"] {
  width: 100%;
  padding: 0 1.5rem;
  height: 4rem;
  background: #33cc95; /* Verde Moneta */
  color: #fff;
  border-radius: 0.25rem;
  border: 0;
  font-size: 1rem;
  margin-top: 1.5rem;
  font-weight: 600;
  transition: filter 0.2s;
  cursor: pointer;
}

.modal-form button[type="submit"]:hover {
  filter: brightness(0.9);
}