/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f2f5;
  color: #363f5f;
  font-family: 'Poppins', sans-serif, system-ui;
  -webkit-font-smoothing: antialiased;
}